<table>
    <thead>
        <tr>
            <th colspan="2">Cat Information:</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Name:</td>
            <td><%= @single_cat.name %></td>
        </tr>
        <tr>
            <td>Age:</td>
            <td><%= @single_cat.age %></td>
        </tr>
        <tr>
            <td>Color:</td>
            <td><%= @single_cat.color %></td>
        </tr>
        <tr>
            <td>Sex:</td>
            <td><%= @single_cat.sex %></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><%= @single_cat.description %></td>
        </tr>
    </tbody>
</table>