<h1>Edit Post</h1>

<form action="<%= post_url(@post) %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>
    Title:
    <input type="text" name="post[title]" value="<%= @post.title %>">
  </label>
  <br>
  <label>
    Url:
    <input type="text" name="post[url]" value="<%= @post.url %>">
  </label>
  <br>
  <label>
    Content:
    <textarea name="post[content]" cols="30" rows="10">
      <%= @post.content %>
    </textarea>
  </label>
  <br>
  <label>
    Sub:
    <select name="post[sub_id]">
      <% all_subs.each do |sub| %>
        <option value="<%= sub.id %>" <%= @post.sub_id == sub.id ? 'selected' : '' %> ><%= sub.title %></option>
      <% end %>
    </select>
  </label>
  <br>
  <button>Edit</button>
</form>