<h1><%= @sub.title %></h1>
<p><%= @sub.description %></p>

<h4>Moderator: <%= @sub.moderator.username %></h4>

<a href="<%= new_post_url %>">Create new post</a>

<ul>
  <% @sub.posts.each do |post| %>
    <li>
      <a href="<%= post_url(post) %>"><%= post.title %></a>
    </li>
  <% end %>
</ul>